$color-primary: #5cdB95;
$color-primary-light: #Bee4af;
$color-primary-dark: #379683;

$color-secondary: #3a2a08;

$color-light: #edf5e1;
$color-dark: #05386B;

$white: #fff;
$black: #222;

$color-dark-overlay: rgba(5,56,107,0.6);
$color-secondary-overlay: rgba($color-secondary,0.4); 
