// FAQ

#faq {
    
    background: $color-dark;
    color: $color-primary-light;

    & .card {
        border: #444;

        &-body,
        &-header {
            background: #333;
        }
    }

    & a {
        color: #fff;
        text-decoration: none;
    }

}



#services {

    .bg-dark {
        background: $color-primary-dark !important;
    }

    .btn-primary {
        border: $color-dark;
        transition: .2s;
        opacity: .9;
        
        &:hover {
            opacity: 1;
        }
        
        &:active {
            transform: scale(0.96);
            background-color: $color-primary-dark;
        }
    }
}
